@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../../src/scss/fonts";
///

:root {
  --bs-link-hover-color: #c70707;
  --bs-nav-link-color: #c70707;
}

.btn.btn-primary.btn-lg {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
}

body {
  background-image: url("/img/abstract-smooth-empty-grey-studio-well-use-as-background-business-report-digital-website-template-backdrop.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  font-family: "Montserrat", sans-serif;
}
.card {
  height: 100%;
  border: none;
}

.card-text {
  font-family: "Lora", serif;
  //font-family: "Montserrat", sans-serif;
  color: #fff;
  text-shadow: 2px 2px 5px #999;
}

.card-text-pproduct {
  font-family: "Lora", serif;
  color: #fff;
}

footer {
  text-align: center;
}

.nav-link {
  color: #333333;
}
.nav-link:hover {
  color: #c70707;
}
a {
  color: #c70707;
}
.btn-product {
  --bs-btn-color: #fff;
  --bs-btn-bg: #c70707;
  --bs-btn-border-color: #fff;
  --bs-btn-hover-color: #c70707;
  --bs-btn-hover-bg: #fff;
  --bs-btn-hover-border-color: #c70707;
  --bs-btn-active-bg: #fff;
  --bs-btn-active-border-color: #c70707;
  font-family: "Montserrat", sans-serif, 800;
}
.btn-primary {
  --bs-btn-color: #c70707;
  --bs-btn-bg: #fff;
  --bs-btn-border-color: #fff;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #c70707;
  --bs-btn-hover-border-color: #c70707;
  --bs-btn-active-bg: #c70707;
  --bs-btn-active-border-color: #c70707;
  font-family: "Montserrat", sans-serif, 800;
}

.footer-icon-overlay {
  right: 0;
  bottom: 0;
  max-width: 125px;
}

.card-icon-overlay {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 1rem;
  max-width: 125px;
}
.card-img-texbox-overlay {
  padding: 1rem;
}

.highlight {
  color: #c70707;
}

.porduct-text-highlight {
  color: #000;
}

.text-highlight {
  color: #fff;
  text-shadow: 2px 2px 5px #000;
}

header img {
  width: 80px;
}

.img-galery-box {
  max-width: 100%;
  height: 250px;
  display: flex;
  flex-direction: column;
}

.product-background {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  -webkit-mask-image: linear-gradient(to bottom, #4e4c4c 45%, transparent 210%);
  mask-image: linear-gradient(to bottom, #4e4c4c 45%, transparent 210%);
}

.product-baner-page-img {
  background-image: url("/img/Pyrex-product-02.png");
}

.product-baner-img {
  background-image: url("/img/pyrex.png");
}
.product-bottum-baner-img {
  background-image: url("/img/Pyrex-product-02.png");
}

.product-galery-1-img {
  background-image: url("/img/ptrex2.png");
}
.product-galery-2-img {
  background-image: url("/img/pyrex3.png");
}

.product-galery-3-img {
  background-image: url("/img/pyrex.png");
}

.product-galery-4-img {
  background-image: url("/img/pyrex4.png");
}
